*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
} 

 header{
    display: block;
    background-color: black;
    width: auto;
    height: auto;
}

header img{
    position: relative;
    left: 5%;
    top: 23px;
    padding: 10px;
}

.mainnav{
    overflow: auto;
    width: 100%;
}


nav .navi{
    display: inline;
    font-size: 30px;
    position: relative;
    left: 20%;
    top:-50px;
}



.serchbar{

}

/* media time */

@media only screen and (max-width:60em){
    html{
      font-size: 110%;
      line-height: 1.5;
      margin: 20px;
    }

    header nav img{
        display: block;
        position: relative;
        background-color: rgb(241, 166, 4);
        width: auto;
        padding: 30px;
        padding-bottom: 90px;
        padding-right: 70%;
        left: 5%px;

    }

    .mainnav>li{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    left: 0px;
    padding: 2%;
    }

    .serchbar{
        display:flex;
        position: relative;
        float: left;
        border: 0;
        margin: 0;
        padding: 0;
    }
  }