.navibar{
    margin: 0px;
    border: 0px;
    position: relative;
    background-color: rgba(39, 34, 0, 0.897);
    font-size: 20px;
    padding: 50px;
    /* DONT USE "align-items: center; "  It makes your navbar small I dont know why, but now it's good*/
    font-family: Arial, sans-serif;
    width: 200vh;
}

.navi{
    display: inline;
    padding: 20px;
}

.homepage:hover{
 
    background-color: coral;
}

.homepage {
    color: darkgreen;
}